{% extends "base.html" %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/CodeBtn.css">
<script src="{{ STATIC_URL }}xheditor/xheditor-1.1.14-zh-cn.min.js"></script>
{% endblock %}

{% block content %}
<div class="rightcontainer">
	<ul class="nav nav-tabs">
		<li><a href="/manage/settings/">Settings</a></li>
		<li class="active"><a href="#">Post new Articles</a></li>
		<li><a href="/manage/artmanage/">Article Management</a></li>
		<li><a href="/manage/catemanage/">Category Management</a></li>
	</ul>

	<!-- edit the articles -->
	<form class="form-horizontal" action="/manage/post/" method="post">
		{% csrf_token %}
		<div class="control-group">
			<label class="control-label" for="articlename">Name of Articles</label>
			<div class="controls">
				<input type="text" id="articlename" name="articlename" value="{{ default.title }}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="articletype">type of Articles</label>
			<div class="controls">
				<select id="articletype" name="articletype">
					{% for type in type_list %}
						<option {% ifequal default.typeid type.id %} selected="selected" {% endifequal %} >{{ type }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="articlecate">Category of Articles</label>
			<div class="controls">
				<select id="articlecate" name="articlecate">
					{% for cate in category_list %}
						<option {% ifequal default.cateid cate.id %} selected="selected" {% endifequal %} >{{ cate }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="control-group">
			<div>
				<textarea name="blogeditor" id="blogeditor" style="width:680px;height:400px; no-repeat left top fixed" >
					{{ default.content }}
				</textarea>
			</div>
		</div>
		<div class="control-group">
			<div>
				<button type="submit" class="btn btn-success" id="btn_post">Post</button>
			</div>
		</div>
	</form>
	<div class="alert alert-error" style="display:none" id="edit_alert"></div>

	<hr>

	<!-- Insert some images -->
	<div class="control-group">
		<div>
			<table class="table table-striped table-bordered" id="imgs">
				<tr>
					<td><strong>Insert Images</strong></td>
				</tr>
				<tr>
					<td><strong>image</strong></td>
					<td><strong>options</strong></td>
				</tr>
			</table>
			<iframe src="/manage/post/uploadframe/" id="uploadframe" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" style="height:25px;float:left;"></iframe>
			<button type="submit" class="btn btn-small btn-info" id="btn_addimg">Add a Image</button>
		</div>
	</div>
	<div class="alert alert-error" style="display:none" id="alert">
		Delete image fail,please try later.		
	</div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/admin_post.js"></script>
{% endblock %}