{% extends "base.html" %}

{% block head %}
<script src="static/jquery-1.9.1.min.js"></script>
<script src="static/ckeditor/ckeditor.js"></script>
<script src="static/codemirror/lib/codemirror.js"></script>

<script src="static/codemirror/mode/clike/clike.js"></script>
<script src="static/codemirror/mode/python/python.js"></script>
<script src="static/codemirror/mode/xml/xml.js"></script>
<script src="static/codemirror/mode/javascript/javascript.js"></script>
<script src="static/codemirror/mode/go/go.js"></script>
<script src="static/codemirror/mode/php/php.js"></script>
<script src="static/codemirror/mode/sql/sql.js"></script>
<script src="static/codemirror/mode/shell/shell.js"></script>
<script src="static/codemirror/mode/markdown/markdown.js"></script>

<link rel="stylesheet" href="static/codemirror/lib/codemirror.css">
{% endblock %}

{% block content %}
<div class="rightcontainer">
	<ul class="nav nav-tabs">
		<li><a href=".">Settings</a></li>
		<li class="active"><a href="#">Post new Articles</a></li>
		<li><a href="?action=artmanage">Article Management</a></li>
	</ul>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="articlename">Name of Articles</label>
			<div class="controls">
				<input type="text" id="articlename">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="articletype">type of Articles</label>
			<div class="controls">
				<select id="articletype">
					<option>Original</option>
					<option>Reserved</option>
					<option>Translation</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="articlecate">Category of Articles</label>
			<div class="controls">
				<select id="articlecate">
					<option>C/C++</option>
					<option>Java</option>
					<option>Python</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div>
				<textarea name="blogeditor"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div>
				<button type="submit" class="btn btn-success">Post</button>
			</div>
		</div>
	</form>

	<hr>

	<!-- Insert some codes -->
	<div class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="lang">Choose Language</label>
			<div class="controls">
				<select id="lang">
					<option>C/C++</option>
					<option>Java</option>
					<option>C#</option>
					<option>Python</option>
					<option>html/xml</option>
					<option>JavaScript</option>
					<option>Go</option>
					<option>php</option>
					<option>SQL</option>
					<option>Shell</option>
					<option>MarkDown</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div>
				<textarea name="code" id="code"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div>
				<button class="btn btn-warning" id="insert_code">Insert Code</button>
			</div>
		</div>
	</div>

	<hr>

	<!-- Insert some images -->
	<div class="control-group">
		<div>
			<table class="table table-striped table-bordered">
				<tr>
					<td><strong>Insert Images</strong></td>
				</tr>
				<tr>
					<td><strong>#</strong></td>
					<td><strong>image</strong></td>
					<td><strong>options</strong></td>
				</tr>
				<tr>
					<td>1</td>
					<td>http://liushuaikobe.org/images/123.png</td>
					<td>
						<div class="form-inline">
							<button type="submit" class="btn btn-warning btn-small">I</button> 
							<button type="submit" class="btn btn-danger btn-small">D</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<button class="btn btn-small">Add a Image</button>
					</td>
					<td>&nbsp</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
{{ js.super }}
<script src="static/js/admin_post.js"></script>
{% endblock %}