{% extends "base.html" %}

{% block head %}
<script src="static/jquery-1.9.1.min.js"></script>
{% endblock %}

{% block content %}
<div class="rightcontainer">
	<ul class="nav nav-tabs">
		<li><a href=".">Settings</a></li>
		<li><a href="?action=post">Post new Articles</a></li>
		<li><a href="?action=artmanage">Article Management</a></li>
		<li class="active"><a href="#">Category Management</a></li>
	</ul>
	</ul>

	<!-- add category -->
	<form class="form-horizontal">
		<div class="control-group">
			<div>
				<table class="table table-bordered">
					<tr>
						<td><strong>Category Management</strong></td>
					</tr>
					<tr>
						<td>#</td><td>Category Name</td><td>Number of Articles</td><td>Options</td>
					</tr>
					{% for cate in category_list %}
					<tr>
							<td>{{ cate.no }}</td>
							<td>
								<div class="cate" id="dp_{{ cate.no }}">{{ cate.name }}</div>
								<div class="cate_edit" id="ed_{{ cate.no }}">
									<input type="text" value="{{ cate.name }}" id="ip_{{ cate.no }}">
								</div>
							</td>
							<td>{{ cate.art_num }}</td>
						<td>
							<div class="form-inline">
								<button type="submit" class="btn btn-warning btn-small" id="m_btn_{{ cate.no }}">M</button> 
								<button type="submit" class="btn btn-danger btn-small" id="d_btn_{{ cate.no }}">D</button>
							</div>
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td>{{ next_no }}</td><td><input type="text" id="blogname"></td><td>0</td>
						<td>
							<button type="submit" class="btn btn-success btn-small">Add</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block js %}
{{ js.super }}
<script src="static/js/admin_cate.js"></script>
{% endblock %}