{% extends "base.html" %}

{% block head %}
<script src="static/jquery/jquery-1.4.4.min.js"></script>
{% endblock %}

{% block content %}
<div class="rightcontainer">
	<ul class="nav nav-tabs">
		<li><a href=".">Settings</a></li>
		<li><a href="?tab=post">Post new Articles</a></li>
		<li><a href="?tab=artmanage">Article Management</a></li>
		<li class="active"><a href="#">Category Management</a></li>
	</ul>
	</ul>

	<!-- add category -->
	<form class="form-horizontal">
		{% csrf_token %}
		<div class="control-group">
			<div>
				<table class="table table-bordered">
					<tr class="success">
						<!-- <td>#</td> -->
						<td>Category Name</td><td>Number of Articles</td><td>Options</td>
					</tr>
					{% for cate in category_list %}
					<tr id="tr_{{ cate.no }}">
							<!-- <td>{{ cate.no }}</td> -->
							<td>
								<div class="cate" id="dp_{{ cate.no }}">{{ cate.name }}</div>
								<div class="cate_edit" id="ed_{{ cate.no }}" style="display:none;">
									<input type="text" value="{{ cate.name }}" id="ip_{{ cate.no }}" class="ip">
								</div>
							</td>
							<td>{{ cate.art_num }}</td>
						<td>
							<div class="form-inline">
								<button class="btn btn-warning btn-small" id="m_btn_{{ cate.no }}">M</button> 
								<button class="btn btn-danger btn-small" id="d_btn_{{ cate.no }}">D</button>
							</div>
						</td>
					</tr>
					{% endfor %}
					<tr>
						<!-- <td>{{ next_no }}</td> -->
						<td><input type="text" id="new_cate_name"></td><td>0</td>
						<td>
							<button type="submit" class="btn btn-success btn-small" id="add_btn">Add</button>
						</td>
					</tr>
				</table>
				<div class="alert alert-error" style="display:none" id="alert">
					The category name can't be null.
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block js %}
{{ js.super }}
<script src="static/js/admin_cate.js"></script>
{% endblock %}