{% extends "base.html" %}

{% block head %}
<script src="{{ STATIC_URL }}jquery/jquery-1.4.4.min.js"></script>
{% endblock %}

{% block content %}
<div class="rightcontainer">
	<ul class="nav nav-tabs">
		<li><a href="/manage/settings/">Settings</a></li>
		<li><a href="/manage/post/">Post new Articles</a></li>
		<li class="active"><a href="#">Article Management</a></li>
		<li><a href="/manage/catemanage/">Category Management</a></li>
	</ul>
	<table class="table table-striped">
		<tr>
			<td><strong>Title</strong></td>
			<td><strong>Time</strong></td>
			<td><strong>Num of View</strong></td>
			<td><strong>Options</strong></td>
		</tr>
		{% for post in post_list %}
		<tr id="tr_{{ post.no }}">
			<td>{{ post.title }}</td>
			<td>{{ post.time }}</td>
			<td>{{ post.viewnum }}</td>
			<td>
				<div class="form-inline">
					<button type="submit" class="btn btn-warning btn-small" id="m_btn_{{ post.no }}">M</button> 
					<button type="submit" class="btn btn-danger btn-small" id="d_btn_{{ post.no }}">D</button>
				</div>
			</td>
		</tr>
		{% endfor %}
	</table>
	<div id="alert" class="alert alert-error" style="display:none">
		Delete article failed, please try later.
	</div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/admin_art.js"></script>
{% endblock %}