{% extends "base.html" %}

{% block content %}
<div class="rightcontainer">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#">Settings</a></li>
		<li><a href="?action=post">Post new Articles</a></li>
		<li><a href="?action=artmanage">Article Management</a></li>
		<li><a href="?action=catemanage">Category Management</a></li>
	</ul>

	<!-- usual settings -->
	<form class="form-horizontal" action="" method="post">
		{% csrf_token %}
		<div class="control-group">
			<label class="control-label" for="blogname">Name of Blog</label>
			<div class="controls">
				<input type="text" id="blogname" name="blogname" value="{{ blog_name }}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="numofpages">Num of Articles Per Page</label>
			<div class="controls">
				<select id="numofpages" name="numofpages">
					<option {% ifequal num_of_pages '5' %} selected="selected" {% endifequal %}>5</option>
					<option {% ifequal num_of_pages '7' %} selected="selected" {% endifequal %}>7</option>
					<option {% ifequal num_of_pages '10' %} selected="selected" {% endifequal %}>10</option>
					<option {% ifequal num_of_pages '15' %} selected="selected" {% endifequal %}>15</option>
					<option {% ifequal num_of_pages '20' %} selected="selected" {% endifequal %}>20</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-success">Save settings</button>
			</div>
		</div>
		<div class="control-group">
			{% if success %}
				<div class="alert alert-success">Save successfully...</div>
			{% endif %}
			{% if error %}
				<div class="alert alert-error">{{ error }}</div>
			{% endif %}
		</div>
	</form>
</div>
{% endblock %}